<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1067179408074-u62uesg9soac460jsl4grfnhm319okfg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1067179408074-u62uesg9soac460jsl4grfnhm319okfg</string>
	<key>API_KEY</key>
	<string>AIzaSyCuk_xtdIjibNLknVGd8_6avEd8E1d8bBI</string>
	<key>GCM_SENDER_ID</key>
	<string>1067179408074</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.passdown.passdownapp</string>
	<key>PROJECT_ID</key>
	<string>passdownapp</string>
	<key>STORAGE_BUCKET</key>
	<string>passdownapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1067179408074:ios:61cf84b3698f4db9c51233</string>
</dict>
</plist>